.App {
  text-align: center;
}

.TagCloseB{
  font-size: 10px;
  height: 10px;
  width: 5px;
  border: none;
  color: white;
  position: absolute;
  top: 2px;
  left: calc(var(--width) - 20px);
}

.MyTag{
  font-size: 15px;
  border-radius: 15px;
  position: relative;
  height: 25px;
  /* --height: 50px; */
  width: 100px;
  --width: 100px;
  background-color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#commentInput, #postCommentButton {
  border: none;
  border-radius: 10px;
  height: 30px;
}

#commentInput {
  width: 300px;
  margin-right: 15px;
  background-color: #F0F0F0;
}

#postCommentButton {
  width: 50px;
}

#commentBox {
  padding: 5px;
  background-color: white;
  
}

#userIcon {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
