.navbar{
    width: 92.8vw;
    height: 6vh;
    background-color: lightgrey;
    display: flex;
    flex-direction: horizontal;
    margin: 10px;
}

.navbarElement{
   
    height: 3vh;
    background-color: lightgrey;
    padding: 1vh;
    width: 10vw;
    margin: auto;
}

.nben{
    
}
