* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.comment-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-text {
  margin: 12px 0;
  font-size: 1.15rem;
  font-weight: 600;
}

.input-box {
  height: 80px;
  width: 600px;
  border-radius: 5px;
  background-color:#F4F6F6;
}

.comment-button {
  height: 40px;
  width: 80px;
  background-color:#E67E22;
  color: white;
  font-size: 1.05rem;
  margin-top: 10px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
}

.comment-container {
  height: fit-content;
  width: 600px;
  background-color: #FDEDEC ;
  border-radius: 5px;
  margin: 10px 0;
  word-break: break-all;
} 

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* position: absolute;
  right: 0px; */
  /* justify-content: right;*/
  align-items: center; 
}


.SingleComment{
  display: inline-block;
  position:relative;
 
}

.img{
  height: 25px;
  width: 25px;
  /* right: 0px; 
  text-align: right;
  float: right;  */
}

.heart{
  display: inline-block;
  float: right;
}

.count{
  float: right;
  font-size:smaller;
  
  
}

.reply{
  border-style: none;
  height: 20px;
  width: 40px;
  background-color:#E67E22;
  border-radius: 5px;
  color: white;
  font-size: 0.85rem;
  margin-top: 10px;
  cursor: pointer;
}
